reset.sh
*~
*\#
# Ignor Visual Studio Code/Pycharm settings
.vscode/
.idea/

# Ignore python cache
__pycache__

# Ignore release stuff
venv/
release.sh

# Ignore build files
build/
dist/
*.egg-info/

*.sqlite3

load.py
*.jpeg
*.png
.coverage