asgiref==3.2.7
Django==3.1.13
djangorestframework==3.11.0
pytz==2020.1
sqlparse==0.3.1
django-filter==2.2.0
pyjwt==1.7.1
django_q==1.2.1
psycopg2-binary==2.8.5
django-storages==1.9.1
boto3==1.14.7
pytest-django==3.9.0
pytest-cov==2.10.0
